Options -Indexes

<IfModule mod_authz_core.c>
  <Files "contact-lib.php">
    Require all denied
  </Files>
</IfModule>
<IfModule !mod_authz_core.c>
  <Files "contact-lib.php">
    Deny from all
  </Files>
</IfModule>
